J1leFl5F7iP0cCvFfQJl
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\www\aws-game-shop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
/modules.xml
